# разрешаем pre/post-scripts один раз на установку
enable-pre-post-scripts=true
# подавляем peer-warning next-auth↔next 14
auto-install-peers=false
prefer-frozen-lockfile=false
strict-peer-dependencies=false
